@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

html, body{
    width: 100%;
    height: 100%;
    display: flex;
}

button{
    font-family: "Titillium Web", sans-serif;
    cursor: pointer;
}

.editor-container{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.editor-tool-bar{
    border: 1px solid black;
    border-top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 100%;
    align-items: center;
    
}

.editor-icon-button{
    display: flex;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    width: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.editor-tool-icon{
    width: 2vw;
    height: 2vw;
}

.editor-func-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.editor-func-icon{
    height: 3.75vh;
    width: 3.75vh;
}

.editor-help-button:active{
    position: relative;
    top: 1px;
}

.editor-icon-button:active{
    position: relative;
    top: 1px;
}

.editor-right-side{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
}

.editor-color-display{
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 3vh;
}

.editor-color-text{
    font-size: .75vw;
}

.editor-active-color{
    border: 1px solid black;
    border-radius: 4vh;
    margin: 1vh auto;
    width: 4vh;
    height: 4vh;
    overflow: hidden;
}

.editor-active-img{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.editor-header-bar{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    box-sizing: border-box;
    height:8vh;
    align-items: center;
}

.editor-title{
    position: relative;
    top: 0px;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

.editor-play-button{
    border: 1px;
    border-style: solid;
    background-color: white;
    height: 2.5vw;
    width: 8vw;
    margin-left: 7vw;
    margin-right: 6vw;
}

.editor-start-text{
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    vertical-align: top;
    line-height: 1.75vw;
}



.editor-grid-text{
    position: relative;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 5px;
}

.editor-size-input{
    position: relative;
    margin-left: 5px;
    width: 1.25vw;
    height: 3.25vh;
    font-size: 1.5vw;
    text-align: center;
}

.editor-code-text{
    position: absolute;
    right: 5vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.75vw;
}

.editor-code{
    position: absolute;
    right: 1vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.75vw;
}

.editor-board-frame{
    display: grid;
    position: relative;
    height: 80vh;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 0px solid black;
}


.editor-board-space{
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

.editor-tabs{
    vertical-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    border: 1px;
    box-sizing: border-box;
    height: 6.5vh;
    width: fit-content;
    box-sizing: border-box;
}

.editor-tab{
    height: 100%;
    width: 6vw;
    border: 1px solid black;
    border-left: 0px;
    background-color: white;
    font-family: "Titillium Web", sans-serif;
    font-size: 1vw;
}

.editor-tab-active{
    height: 100%;
    width: 9vw;
    border: 1px solid black;
    border-left: 0px;
    border-bottom: 0px;
    background-color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.editor-tab-content{
    display: flex;
    border: solid 1px black;
    align-items: center;
    border-left: 0px;
    box-sizing: border-box;
    height: 13vh;
}

.editor-hide-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    border: 1px black solid;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.editor-hide-icon{
    height: 3vh;
    width: 3vh;
}

.editor-color-button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 6vh;
    height: 6vh;
    background-color: white;
    border: 1px solid black;
    font-size: 2.5vw;
    line-height: 4.5vh;
    margin-left: 2vw;
}

.editor-tileimg-button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 6vh;
    height: 6vh;
    background-color: white;
    border: 1px solid black;
    font-size: 2.5vw;
    line-height: 4.5vh;
    margin-left: 2vw;
}
.editor-tileimg-button:hover{
    cursor: pointer;
}

.editor-tile-img{
    object-fit: fill;
    object-position: center;
    height: 100%;
    width: 100%;
}

.editor-tile-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 6vh;
    background-color: white;
    border: 1px solid black;
    font-size: .75vw;
    margin-left: 2vw;
}

.editor-upload-icon{
    height: 4vh;
    width: 4vh;
}

.editor-tab-token{
    border-radius: 6vh;
    width: 6vh;
    height: 6vh;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    margin-left: 2vw;
}
.editor-tab-token:hover{
    cursor: grab;
}

.editor-token-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6vh;
    width: 6vh;
    height: 6vh;
    background-color: white;
    border: 1px solid black;
    margin-left: 2vw;
    font-size: .75vw;
    text-align: center;
    justify-content: center;
    line-height: 4.75vh;
}
.editor-token-upload:hover{
    cursor: pointer;
}

.editor-board-token{
    position: absolute;
    border-radius: 100%;
    width: 30%;
    height: 75%;
    background-color: white;
    border: 1px solid black;
}

.editor-token-img{
    object-fit: fill;
    object-position: center;
    height: 100%;
    width: 100%;
}

.editor-undo-section{
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
    right: 1vw;
}

.editor-_do-button{
    display: flex;
    justify-content: center;
    vertical-align: center;
    width: 4.5vh;
    height: 4.5vh;
    background-color: white;
    border: 1px solid black;
    font-size: .75vw;
    margin-left: 1.25vw;
}

.editor-_do-icon{
    height: 3.5vh;
    width: 3.5vh;
}