@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');


html, body{
    width: 100%;
    height: 100%;
    display: flex;
}

div{
    border-bottom: 2px;
}

span{
    font-family: "Titillium Web", sans-serif;
}

button{
    font-family: "Titillium Web", sans-serif;
}

.wrapper{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.load-header{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    height: 6vh;
    width: 100%;
}

.load-header-text{
    margin-left: 10px;
    font-size: 2.5vw;
}

.load-header-name{
    position: absolute;
    right: 10px;
    font-size: 2.5vw;
}

.load-recent-text{
    font-size: 2.5vw;
    margin-left: 10px;
}

.load-recent-button{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    height: 4vh;
    width: auto;
    right: 15px;
}

.load-new-text{
    font-size: 1.25vw;
    
}

.load-folders{
    border-style: solid;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 93vh;
    width: 100%;
}

.load-folder-header{
    display: flex;
    align-items: center;
    position: relative;
    height: 6vh;
    width: 100%;
}

.load-folder-section{
    margin: 2vw;
    /* border: 1px solid black; */
    padding: 1vw;
    overflow-y: auto;
}

.load-folder{
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    height: auto;
    width: 12vw;
    font-size: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 7vh;
}

.load-footer{
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    height: 6vh;
    width: 100%;
}

.load-exit-button{
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    border-style: none;
    background-color: white;
}

.load-exit-button:hover{
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.load-exit-text{
    font-size: 1.5vw;
    margin-right: 5px;
}
